.button {
    border-radius: 5px;
}

body {
    padding: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 56px;
    -webkit-text-stroke: 2px black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 56px;
    -webkit-text-stroke: 2px black;
}

.full-recipe{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 213, 250);
    text;
}
@media screen and (max-width: 400px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 48px;
        -webkit-text-stroke: 2px black;
    }
    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 48px;
        -webkit-text-stroke: 2px black;
    }
}

@media screen and (min-width: 750px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 98px;
        -webkit-text-stroke: 2px black;
    }
    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 60px;
        -webkit-text-stroke: 2px black;
    }

    .card {
        display: flex;
        justify-content: center;
        /* width: auto; */
        /* max-width: 750px; */
        padding: 50px;
    
    }

}

@media screen and (min-width: 900px) {
    .card {
        display: flex;
        justify-content: center;
        /* width: auto; */
        /* max-width: 750px; */
        padding: 100px;
    
    }
}

@media screen and (min-width: 1200px) {
    .card {
        display: flex;
        justify-content: center;
        /* width: auto; */
        /* max-width: 750px; */
        padding: 200px;
    
    }
}

@media screen and (min-width: 1500px) {
    .card {
        display: flex;
        justify-content: center;
        /* width: auto; */
        /* max-width: 750px; */
        padding: 500px;
    
    }
}