.button {
    border-radius: 5px;
}

body {
    padding: 10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 56px;
    -webkit-text-stroke: 2px black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 56px;
    -webkit-text-stroke: 2px black;
}

@media screen and (max-width: 400px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 48px;
        -webkit-text-stroke: 2px black;
    }
    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 48px;
        -webkit-text-stroke: 2px black;
    }
}

@media screen and (min-width: 750px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 98px;
        -webkit-text-stroke: 2px black;
    }
    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gold;
        font-size: 60px;
        -webkit-text-stroke: 2px black;
    }

    .card {
        width: auto;
        max-width: 750px;
        padding: 15px;
    }
}